
{% extends 'app/base_reset_password.html' %}
{%load static%}
{% block title %}Set New Pasword{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'app/css/set_new_password.css' %}">
{% endblock %}
{% block content %}
<div class="form-box">
    <h3>Set New Password</h3>
    <p>Ceate your new password.</p>
    <form  method="POST">
        {% csrf_token %}
        {{ form.new_password }}
        {{ form.confirm_password }}
        <button type="submit">Continue</button>
    </form>
    <a href="{% url 'login' %}" class="back-link">Back to Sign In</a>
</div>
{% endblock %}
